.Container {
    background-color: #1d1d20;
    height: 100vh;
    display: flex;
}

#c1, #c2, #c3{
    width: 33.3%;
    padding-top: 80px;
}

.buttons {
    padding: 60px;
    display: flex;
    justify-content: space-around;
}

.header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
}

#userInfo {
    float: right;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: white; 
    font-family: Avenir;
    font-weight: 800px;
    display: flex; 
    align-items: center; 
}

.imageContainer {
    margin: auto;
    background-size: contain;

    width: 300px;
    height: 300px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    box-shadow: 0px 0px 30px 5px #6b6b6b;
}

.horizontal-slider {
    margin: auto;
    width: 80%;
    height: 25px;
}

.thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: grab;
    outline: none;
}

.track {
    top: calc(50% - 7px);
    height: 2px;
}

#acoustic {
    background: #f9b127;
}

#dance {
    background: #8169cf;
}

#energy {
    background: #e82c4f;
}

#positive {
    background: #66bb6a;
}

#popular {
    background: #2784c7;
}

.slider {
    margin-bottom: 30px;
}

#reset {
    margin-right: 3em; 
    float: right; 
    font-family: Avenir;
    font-size: 15px;
    border: 2px solid white;
    padding: 5px 20px; 
    cursor: pointer;
    outline: none;
    background-color: #1d1d20;
    color: white;
    transition: all .1s ease-in-out;
}

#reset:hover {
    background-color: white; 
    color: #1d1d20;
}