.Container {
    background-color: #1d1d20;
    height: 100vh;
    display: flex;
}

#c1, #c2, #c3{
    width: 33.3%;
    padding-top: 80px;
}

.buttons {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
}

#userInfo {
    float: right;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: white; 
    font-family: Avenir;
    font-weight: 800px;
    display: flex; 
    align-items: center; 
}

.imageContainer {
    margin: auto;
    background-size: contain;

    width: 280px;
    height: 280px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.horizontal-slider {
    margin: auto;
    width: 80%;
    height: 25px;
}

.thumb {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    cursor: grab;
    outline: none;
}

.track {
    background: white;
    top: calc(50% - 7px);
    height: 2px;
}

.slider {
    margin-bottom: 30px;
}

#reset {
    margin-right: 34px; 
    float: right; 
    font-family: Avenir;
    font-size: 15px;
    border: none;
    padding: 5px 20px; 
    cursor: pointer;
    outline: none;
}